{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Simple Chat UI</title>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" href="{% static 'accounts/style2.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> EPM
    </div>
    <div class="msger-header-options">
      <a href="{% url 'accounts:logout' %}">logout</a>
    </div>
  </header>

  <main class="msger-chat">
    {% for i in epms %}

    <div class="msg {% if i.us %}right-msg{% else %}left-msg{% endif %}">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
      ></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name"></div>
          <div class="msg-info-time">{{i.time}}</div>
        </div>

        <div class="msg-text">
          {{i.text}}
        </div>
      </div>
    </div>


    {% endfor %}




  </main>


  <form class="msger-inputarea" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="text" class="msger-input" placeholder="Enter your message..." name="text">



    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section>
<!-- partial -->
  <!-- <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script><script  src="./script.js"></script> -->

</body>
</html>
